.carousel-container{
    display:flex;
    position:relative;
    height:400px;
    width:600px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 0px 0px 7px #666;;

}

.carousel-image-container{
    display: flex;
    height: 100%;
    width: 100%;
}
.carousel-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}
.arrow{
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    color:lightgrey;
    size:2rem;
    z-index: 10;
}
.arrow:hover{
    color: white;
    cursor: pointer;
}
.arrow-left{
    left: 1rem;
}
.arrow-right{
    right: 1rem;
}
.carousel-navigation{
    display:flex;
    position:absolute;
    justify-content: center;
    align-items: center;
    bottom: 1.5rem;

}
.carousel-indicator{
    padding:0;
    margin-right:0.5rem;
    height:0.5rem;
    width:0.5rem;
    cursor: pointer;
    background-color: white;
    border:none;
    outline:none;
    box-shadow: 0px 0px 5px #555;
}
.carousel-indicator-active{
    background-color: grey;
}