button {
  padding: 10px;
  border-radius: 0.5rem;
  background-color: lightgrey;
  color:white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: lightblue;
  color: white;
}