button {
  padding: 10px;
  border-radius: 5px;
  background-color: lightgrey;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: lightblue;
  color: white;
}